.app-container {
    font-family: Arial, sans-serif;
    position: relative;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    background-color: white;
}

.events-section {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.events-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.upcoming-events-title {
    font-size: 2rem;
    margin: 0;
}

.notify-me {
    padding: 10px 25px;
    background-color: #7a73f8;
    border: none;
    color: white;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.notify-me:hover {
    background-color: #635ac2;
}

.event-cards-grid {
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-items: center;
}